## Backend / .NET
**/[Bb]in/
**/[Oo]bj/
**/.vs/
**/*.user
**/*.userosscache
**/*.sln.docstates
**/*.suo

## Frontend / Node
frontend/node_modules/
frontend/dist/
frontend/.vite/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

## Secrets & Env
.env
**/*.env.local
**/*.env.*.local

## OS & Media
*.mp4
*.avi
.DS_Store
Thumbs.db

docs