## .NET Core / Visual Studio
[Bb]in/
[Oo]bj/
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## Logs
*.log
_ReSharper*/

## OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
